<?php defined('IN_IA') or exit('Access Denied');?>
<?php include $this->template('common/header');?>

<div class="page-header">
    <h1>商品分类管理</h1>
</div>

<div class="clearfix">
    <form action="" method="get" class="form-horizontal form-search pull-left" style="margin-bottom: 15px;">
        <input type="hidden" name="c" value="site">
        <input type="hidden" name="a" value="entry">
        <input type="hidden" name="m" value="campus_delivery">
        <input type="hidden" name="do" value="category">

        <div class="input-group">
            <select name="merchant_id" class="form-control">
                <option value="">所有商家</option>
                <?php foreach ($merchants as $merchant) { ?>
                <option value="<?php echo $merchant['id'];?>" <?php if ($_GPC['merchant_id']==$merchant['id'])
                    echo 'selected' ;?>>
                    <?php echo $merchant['name'];?>
                </option>
                <?php } ?>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">筛选</button>
            </span>
        </div>
    </form>

    <div class="pull-right">
        <a href="<?php echo $this->createWebUrl('category', array('op' => 'post'));?>" class="btn btn-primary">
            <i class="fa fa-plus"></i> 添加分类
        </a>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="50">ID</th>
            <th width="80">排序</th>
            <th>分类名称</th>
            <th>所属商家</th>
            <th width="100">状态</th>
            <th width="150">操作</th>
        </tr>
    </thead>
    <tbody>
        <?php if (!empty($list)) { ?>
        <?php foreach ($list as $item) { ?>
        <tr>
            <td>
                <?php echo $item['id'];?>
            </td>
            <td>
                <?php echo $item['sort'];?>
            </td>
            <td>
                <?php echo $item['name'];?>
            </td>
            <td>
                <?php echo $item['merchant_name'];?>
            </td>
            <td>
                <?php if ($item['status'] == 1) { ?>
                <span class="label label-success">显示</span>
                <?php } else { ?>
                <span class="label label-default">隐藏</span>
                <?php } ?>
            </td>
            <td>
                <a href="<?php echo $this->createWebUrl('category', array('op' => 'post', 'id' => $item['id']));?>"
                    class="btn btn-default btn-sm">编辑</a>
                <a href="<?php echo $this->createWebUrl('category', array('op' => 'delete', 'id' => $item['id']));?>"
                    class="btn btn-danger btn-sm" onclick="return confirm('确定删除吗？');">删除</a>
            </td>
        </tr>
        <?php } ?>
        <?php } else { ?>
        <tr>
            <td colspan="6" class="text-center">暂无数据</td>
        </tr>
        <?php } ?>
    </tbody>
</table>

<?php echo $pager;?>

<?php include $this->template('common/footer');?>